/*VARIABLES*/
/*GENERALES*/
ul li {
  color: #FFD700; }
  ul li a {
    color: #FFD700; }
    ul li a :hover {
      text-decoration: none;
      color: #9354b6; }

/*INDEX*/
/*SERVICIOS*/
/*PORTFOLIO*/
/*PRESUPUESTO*/
/*NOSOTROS*/
/*SUMATE*/
