@import 'variables';

    .flexPadre {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        flex-wrap: nowrap;
        padding-top: 40px;
    }
    
    .flex-item li, a {
        font-family: $font-primary;
        font-size: 17px;
        text-decoration-style: none;
        letter-spacing: 2px; 
        word-spacing: 7px;
        padding: 5px;
        padding-top: 40px;
        width:40px;
        height: 60px;
        
    }
    

ul {

    li{
        color: $primary;
        a{ 
            color: $primary;
            
            :hover{

            text-decoration: none;
            }

        }
    }
}
    



.titulo {
	color: $secondary;
	font-family: $font-primary;
	text-align: center;
	font-size: 45px;
	stroke: 2px, black;
	position: relative;
}


footer {
    grid-area: footer;
	font-family: $font-primary;
	color: $black;
	text-align: center;
    background-color: $primary;
    content: 80px 400px;
	padding: 650px,200px;
	border: solid 20px 10px $primary;
	margin: 100px 0px 0px 0px;
}