
@import 'variables';
@import 'components';

/*SERVICIOS*/
#gridServicios {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 10% 8% 22% 20% 20% 20%;
	grid-template-areas: 
	"header nav nav"
	"servicio . ."
	"foto . . "
	"foto . . "
	"foto . ."
	"footer footer footer"
}

.servicio {
	grid-area:servicio;
}

.foto {
	grid-area:foto;
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
}

@media only screen and (max-width: 576px) {
	#gridServicios {
		display: inline;
	}
	.parrafos2 {
		width: 350px;
		margin: 0px;
	}
	.titulosDerecha {
		font-size: 18px;
		width: 350px;
		text-align: center;
	}
}

/*NOSOTROS*/

#gridNosotros {
	display: grid;
	grid-template-areas: 
	"header . . nav nav nav"
	". integrante1 . integrante2 . integrante3"
	". integrante4 . integrante5 . ."
	"footer footer footer footer footer footer";
	grid-template-columns: repeat (6, 16%);
	grid-template-rows: 100px 200px 200px 40px ;
	grid-row-gap: 100px;
    grid-column-gap: 10px;
    justify-content: center;
}


.integrante1 {
	grid-area: integrante1;
	font-family:$font-primary;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 3px;
	color: $black;
	background-color: $primary;
	width: 140px;
	contain: 300px;
	padding: 10px;
	margin:100px 80px 10px 10px;
}

.integrante2 {
	grid-area: integrante2;
	font-family:$font-primary;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 3px;
	color: $black;
	background-color: $primary;
	width: 200px;
	contain: 300px;
	padding: 10px;
	margin:100px 80px 20px 6px;

}

.integrante3 {
	grid-area: integrante3;
	font-family: $font-primary;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 3px;
	color: $black;
	background-color: $primary;
	width: 140px;
	contain: 300px;
	padding: 10px;
	margin:100px 100px 20px 10px;
}

.descripcion1 {

	text-decoration: none;
	font-family: $font-primary;
	font-size: 20px;
	letter-spacing: 2px; 
	word-spacing: 7px;
	color: $white;
    width: 130px;
    padding: 30px 0px;
    margin: 2px 0px;
	text-align: center;
}

.descripcion2 {

	text-decoration: none;
	font-family: $font-primary;
	font-size: 20px;
	letter-spacing: 2px; 
	word-spacing: 7px;
	color: $white;
    width: 130px;
    padding: 30px 0px;
    margin: 2px 0px;
	text-align: center;
}
.descripcion3 {
	text-decoration: none;
	font-family:$font-primary;
	font-size: 20px;
	letter-spacing: 2px; 
	word-spacing: 7px;
	color:$white;
    width: 130px;
    padding: 30px 0px;
    margin: 2px 0px;
	text-align: center;
}

.integrante4 {
	grid-area: integrante4;
	font-family: $font-primary;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 3px;
	color: $black;
	background-color: $primary;
	width: 140px;
	height: 80px;
	contain: 300px;
	padding: 10px;
	margin:2px 100px 20px 200px;
}

.integrante5 {
	grid-area: integrante5;
	font-family: $font-primary;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 3px;
	color: $black;
	background-color: $primary;
	width: 140px;
	height: 80px;
	contain: 300px;
	padding: 10px;
	margin:2px 100px 20px 200px;
}


.descripcion4 {

	text-decoration: none;
	font-family: $font-primary;
	font-size: 20px;
	letter-spacing: 2px; 
	word-spacing: 7px;
	color: $white;
    width: 130px;
    padding: 30px 0px;
    margin: 2px 0px;
	text-align: center;
}

.descripcion5 {

	text-decoration: none;
	font-family: $font-primary;
	font-size: 20px;
	letter-spacing: 2px; 
	word-spacing: 7px;
	color: $white;
    width: 130px;
    padding: 30px 0px;
    margin: 2px 0px;
	text-align: center;
}

@media only screen and (max-width: 576px) {
#gridNosotros {	
	display: inline;
    }
.integrante1,
.integrante2,
.integrante3 {

	font-family:$font-primary;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 3px;
	color: $black;
	background-color: $primary;
	width:500px;
    }
.integrante4,
.integrante5 {
	font-family: $font-primary;
	font-size: 40px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 3px;
	color: $black;
	background-color: $primary;
	margin: auto;
	height: 200px;
	width:500px;
	margin: 80px 10px 80px 10px;
    }
.descripcion1,
.descripcion2,
.descripcion3 {
	font-family: $font-primary;
	font-size: 20px;
	letter-spacing: 2px; 
	word-spacing: 7px;
	color: $white;
	width: 400px;
	text-align: center;
    }
.descripcion4,
.descripcion5 {
	text-decoration: none;
	font-family: $font-primary;
	font-size: 20px;
	letter-spacing: 2px; 
	word-spacing: 7px;
	color: $white;
	width: 500px;
	text-align: center;
    }
}

/*SUMATE*/
#gridSumate {
	display: grid;
	grid-template-columns: 30% 30% 40%;
	grid-template-rows: 100px 100px 100px 300px 300px ;
	grid-template-areas: 
	"header . nav"
	". contenidoT . "
	". contenidoP ."
	". form . "
	"footer footer footer";
}

.contenidoT {
	grid-area: contenidoT;
	font-family:$font-primary;
	font-size: 34px;
	font-weight: normal;
	letter-spacing: 3px;
	color: $secondary;
	height: 50px;
    width: 300px;
    padding: 10px 10px;
    margin: 200px 20px 20px 100px;


}

.contenidoP {
	grid-area: contenidoT;
	font-family: $font-secondary;
	color: $white;
	text-transform: uppercase;
    height: 100px;
    width: 500px;
    padding: 3px 25px;
    margin: 10px 20px 20px 80px;

}

form {
	grid-area:form;
	text-align: center;
	color: $white;
	font-family: $primary;
	font-size: 18px;
	text-shadow: -2px -2px 1px $black, 2px 1px 1px $black, -2px 1px 1px $black, 2px -1px 1px $black;
	letter-spacing: 1px;
	word-spacing: 2px;
    height: 100px;
    width: 600px;
    margin: 80px 10px 500px 2px;
} 

@media only screen and (max-width: 576px) {
#gridSumate {
	display: block;
	}
.contenidoT {
	font-family:$font-primary;
	font-size: 34px;
	font-weight: normal;
	letter-spacing: 3px;
	color: $secondary;
	height: 50px;
	width: 300px;
	padding: 10px 10px;
	margin: auto;		 
	}
.contenidoP {
	font-family: $font-secondary;
	color: $white;
	text-transform: uppercase;
	width: 300px;
	text-align: left;
    }
}
