/*VARIABLES*/
@import 'variables';

/*GENERALES*/
@import 'components';
@import 'layout';
@import 'backgrounds';

/*INDEX*/

.titulosGrandes {
	color: $secondary;
	font-family:$font-primary;
	text-align: center;
	font-size: 65px;
	text-shadow: -2px -2px $black;
    animation-duration: 4s;
	animation-name: inicio;
	animation-iteration-count: infinite;
	animation-delay: 0.5s;
}

@keyframes inicio {
	0% {
		opacity: 1;
		color: $secondary;
	}

	50% {
		opacity: 1;
		color: $primary;
	}
	100% {
		opacity: 1;
		color:$secondary;
	}
}

.parrafos1 {
    font-family:$font-secondary;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 3px;
	color: $white;
	text-align: center;
	text-transform: uppercase;

}

@media only screen and (max-width: 576px) {
.flexPadre {
	flex-direction: column;	
	}
.flex-item li, a {
	font-size: 15px;
	padding: 0px;
	}
	header {
	flex-direction: column;
	}
	.titulosGrandes {
	font-size: 18px;
	width: 350px;
	text-align: center;
	}
	.parrafos1 {
	font-size: 12px;
	text-align: center;
	width: 450px;
	margin: auto;
	}
}

/*SERVICIOS*/


.titulosDerecha {
	font-family: $font-primary;
	font-size: 45px;
	font-weight: normal;
	letter-spacing: 3px;
	color: $black;
	text-align: right;
	text-shadow: $black, 2px, 20px;
	background-color: $primary;
	width: 240px;
	height: 50px;
	animation-duration: 5s;
	animation-name: aparecer;
	animation-iteration-count: infinite;
	animation-delay: 0.5s

}

@keyframes aparecer {
	0% {
        opacity: 1;
        color: $black;
        background-color: $primary;
	}
	50% {
        opacity: 1;
        color: $secondary;
		background-color: $black;
	}
	100% {
        opacity: 1;
        color: $black;
        background-color: $primary;

	}

}
.parrafos2 {
	font-family: $font-secondary;
	font-size: 20px;
	letter-spacing: 1px;
	color: $white;
	text-align: left;
	text-transform: uppercase;
	content: 100px, 200px;
    height: 100px;
    width: 600px;
    padding: 30px 20px;
    margin: 2px 3px;
}

/*PORTFOLIO*/


.titulosPorfolio {

	font-family: $font-primary;
	font-size: 34px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 3px;
	color: #FFFFFF;
	background-color: #9354b6;
	height: 40px;
	width: auto;
	margin: 30px;
}



/*PRESUPUESTO*/

.fondo {
	background-image:$background2;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


.titulos {
	font-family:$font-primary;
	font-size: 34px;
	font-weight: normal;
	text-align: left;
	letter-spacing: 3px;
    color:$secondary;
    margin-left: 50px;

}

.parrafos2 {
	font-family: $font-secondary;
	color:$white;
	text-align: left;
	text-transform: uppercase;
    height: 200px;
	width: 700px;
    margin: 2px 40px;
}

@media only screen and (max-width: 576px) {
#gridPresupuesto {
	display: block;
	width: 50%;
	}
}




/*NOSOTROS*/

/*SUMATE*/
