/*VARIABLES*/
$primary: #FFD700;
$secondary: #9354b6;
$yellow: #ffb873;
$black: #000000;
$white: #FFFFFF;
$font-primary: bebas neue, sans-serif;
$font-secondary: 'Oswald', sans-serif;
$background1:url(images/fondo1.png);
$background2:url(images/fondo2.png);
$background3:url(images/fondo3.png); 



/*GENERALES*/
ul {
    li{
        color: $primary;
        a{ 
            color: $primary;
            :hover{
             text-decoration: none;
            color: $secondary;
        }
            

        }
    }
}




/*SERVICIOS*/

/*PORTFOLIO*/

/*PRESUPUESTO*/

/*NOSOTROS*/

/*SUMATE*/